/* a{
    text-decoration: none;
} */
/* 四种状态 */
a:link{
    color: hotpink;
    background-color: darkkhaki;
}
a:visited{
    color: rgb(3, 0, 1);
    text-decoration: rgb(245, 5, 5);
}
a:hover{
    color: rgb(136, 6, 243);
}
a:active{
    color: green;
}